{% extends "layout.html" %}
{% block title %}{{ type }} Role{% endblock %}
{% block content %}
{% from "_formhelpers.html" import render_field %}
<!-- dj325 20/11/23 -->
<div class="container-fluid">
    <div class="h3">{{ type }} Movie Data</div>
    <form method="POST">
        {% for field in form %}
        {% if field.name != 'csrf_token' %}
        {{ render_field(field) }}
        {% endif %}
        {% endfor %}
        {{ form.hidden_tag() }}
        {{ form.submit(class="btn btn-primary mb-2 mt-2") }}
    </form>
    <a href="{{ url_for('movies.list') }}" class="btn btn-secondary">Back</a>
</div>
{% endblock %}