{% extends "layout.html" %}
{% block title %}Movies{% endblock %}

<!-- content -->
{% block content %}
{% from "_formhelpers.html" import render_field %}
{% from "_table_helper.html" import render_table %}
<!-- dj325 29/11/23 -->
{% set associate = "movies.associate" %}
{% set view = "movies.view" %}
{% set remove = "movies.remove" %}

<div class="container-fluid">
    <form method="GET">
        <div class="row " style="align-items: end;">
            {% for field in form %}
            {% if field.name != 'csrf_token' and field.name != "submit" %}
            <div class="col">
                {{ render_field(field) }}
            </div>
            {% endif %}
            {% endfor %}
            <div class="col d-grid gap-2"> 
                {{ form.hidden_tag() }}
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </div>
    </form>
    
    {{ render_table(rows, "Total Watch Later "+ movies_count + "- Showing "+ rows|length|string + " result", ["id","api_id"], view, None, None,associate,remove,"table-striped table-bordered table-hover",current_user,page) }}
</div>
{% endblock %}